<h1>New User</h1>
<%= link_to 'Users Page', users_path, class: "btn btn-info btn-md" %>
<%= render partial: 'form', locals: {user: @user} %>

<!-- Bootcards -->
<!-- <div class="panel panel-default">
  <div class="panel-heading clearfix">
    <img src="images/luma.ico" class="img-responsive"/>
    <h3 class="panel-title pull-left">Cards by CHÕRUS</h3>
    <div class="btn-group pull-right">
      <button class="btn btn-success">
        <i class="fa fa-check"></i>SAVE
      </button>
    </div>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <div class="form-group">
        <label class="col-xs-3 control-label">Your Name:</label>
        <div class="col-xs-6">
          <input type="text" class="form-control" placeholder="Nina Simone">
        </div>
      </div>

      <div class="form-group">
        <label class="col-xs-3 control-label">Email Address:</label>
        <div class="col-xs-6">
          <input type="text" class="form-control" placeholder="n.simone@songs.us">
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-3 control-label">Your Phone #:</label>
        <div class="col-xs-6">
          <input type="text" class="form-control" placeholder="987-654-3210">
        </div>
      </div>
    </form>
  </div>
  <div class="panel-footer">
    <p><small>&copy; CH&OtildeRUS. All Rights Reserved. <br>Designed by: Team Awesome Sauce</small></p>
  </div>
</div> -->
<!-- Bootcards -->
