<div id="view"class="row">

</div>
<div id="content"class="row">

             <div class="panel panel-primary col-xs-2 col-sm-offset-3">
                <div class="panel-body">
                    <div class="img-circle img-responsive">
                      <%= image_tag("cleaningDishes.gif", :alt => "defaultIcon") %>
                    </div>
                </div>
                <div class="panel-footer">
                <h3 class="panel-title">
                  Deadlines
                </h3><hr>
                <p>
                  Track chores by set deadlines.
                </p>
                </div>
              </div>

              <div class="panel panel-primary col-xs-2 ">
                 <div class="panel-body">
                     <div class="img-circle img-responsive">
                       <%= image_tag("couplesApartment.gif", :alt => "defaultIcon") %>
                     </div>
                 </div>
                 <div class="panel-footer">
                 <h3 class="panel-title">
                   Deadlines
                 </h3><hr>
                 <p>
                   Track chores by set deadlines.
                 </p>
                 </div>
               </div>

               <div class="panel panel-primary col-xs-2 ">
                  <div class="panel-body">
                      <div class="img-circle img-responsive">
                        <%= image_tag("apartmentView.gif", :alt => "defaultIcon") %>
                      </div>
                  </div>
                  <div class="panel-footer">
                  <h3 class="panel-title">
                    Deadlines
                  </h3><hr>
                  <p>
                    Track chores by set deadlines.
                  </p>
                  </div>
                </div>

              </div>
