<div id="view" >



    <div class="container">

      <header>
        <strong id="splash-title" class="text-center">CHŌRUS</strong>
      </header>
        <h3 class="text-center">The chore tracker for shared living places.</h3>
        <%= button_to "Demo Log-In", sessions_path(:user => {email: "john.doe@demo.com", password:"1234"}), class: "btn btn-warning btn-lg center-block"%>

    </div>





</div>
