<h1>New Unit</h1>
<%= link_to 'Units Page', units_path, class: "btn btn-danger btn-md" %>
<%= render 'form' %>

<!-- Bootcards -->
<!-- <div class="panel panel-default">
  <div class="panel-heading clearfix">
    <h3 class="panel-title pull-left">Cards by CHÕRUS</h3>
    <div class="btn-group pull-right">
      <button class="btn btn-danger">
        <i class="fa fa-times"></i>
        Cancel
      </button>
      <button class="btn btn-success">
        <i class="fa fa-check"></i>
        Save
      </button>
    </div>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <div class="form-group">
        <label class="col-xs-3 control-label">Unit Name:</label>
        <div class="col-xs-6">
          <input type="text" class="form-control" placeholder="Unit XYZ">
        </div>
      </div>

      <div class="form-group">
        <label class="col-xs-3 control-label">Unit Address:</label>
        <div class="col-xs-6">
          <input type="text" class="form-control" placeholder="225 Bush St., San Francisco, CA">
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-3 control-label">Landlord Name:</label>
        <div class="col-xs-6">
          <input type="text" class="form-control" placeholder="John Galt">
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-3 control-label">Landlord Phone #:</label>
        <div class="col-xs-6">
          <input type="text" class="form-control" placeholder="555-444-3210">
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-3 control-label">Landlord email:</label>
        <div class="col-xs-6">
          <input class="form-control" rclass="form-control" placeholder="j.galt@who.is"></input>
        </div>
      </div>
    </form>
  </div>
  <div class="panel-footer">
    <p><small>&copy; CH&OtildeRUS. All Rights Reserved. <br>Designed by: Team Awesome Sauce</small></p>
  </div>
</div> -->
<!-- Bootcards -->
