
<h2> ABOUT US </h2><hr>

<div class="flip3D">
  <div class="back">
      <%= image_tag("andreaProfile.gif", :alt => "andreaProfile") %>
  </div>
  <div class="front">ANDREA</div>
</div>

<div class="flip3D">
  <div class="back">
      <%= image_tag("arthurProfile.gif", :alt => "arthurProfile") %>
</div>
  <div class="front">ARTHUR</div>
</div>

<div class="flip3D">
  <div class="back">
      <%= image_tag("nathanProfile.gif", :alt => "nathanProfile") %>
  </div>
  <div class="front">NATHAN</div>
</div>

<div class="flip3D">
  <div class="back">
      <%= image_tag("ayushProfile.gif", :alt => "ayushProfile") %>
  </div>
  <div class="front">AYUSH</div>
</div>
