html {
      /*background: url("/images/SFapartment.jpeg") no-repeat center center fixed;*/
      background-color: #3C4262;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      }

h2 {
    font-weight: bold;
    font-family: cursive;
    text-align: center;
    padding: 5px;
   }
h3 {
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    padding: 50px;
   }
a {
  margin-left: 1200px;
  color: snow;
}
body {
      background-color: #3C4262;
      color: antiquewhite;
     }
#footerInfo {
  text-align: center;
}
