/*
  *= require bootswatch
  *= require chores
  *= require users
  *= require units
  *= require_self
  *= require users_show
  *= require splash
  *= require jquery-ui
  *= require about
*/


.body {
  background-color: #FFF8D5
}

.list-group-item {
  background-color: #40617a;
  color: black;
}

.pending-btn {
  display:inline;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: #C2571A;
  border: 1px solid white;
  z-index: 1000;
  color:white;
  padding:5px;
}

.new-chore.btn{
  margin-top: 20px;
}

.skip-link:focus {
  top: 0;
  color:white;
}

.img-circle.img-responsive {
  text-align: center;
}
.panel-body {
  background-color: grey;
  color: #596A7B;
}

.panel-footer {
  background-color: #2B3E50;
  color: snow;
}

.form-control {
  border-bottom: 1px solid #2B3E50;
  border-left: 1px solid #2B3E50;
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
}
label {
  color: #2B3E50
}

.modal-body {
  background-color: floralwhite;
}

.modal-footer {
  background-color: floralwhite;
}
.modal {
  color: white;
}

.btn-primary {
  background-color: #98878f;
}

.glyphicon {
  color: #efeff4;
}

.list-group-item{
  color: white;
}

.navbar-inverse {
  padding: 10px 0 10px 0;
  bottom: 0;
  background-color: #f0ad4e;
}

.text-btn {
  color: #ea8520;
}

.text-btn:hover {
  color: #2B3E50;
  text-decoration: underline;
}

a {
  color: #ea8520;
}

a:hover {
  color: #2B3E50;
}

nav.navbar.navbar-default {
  margin-bottom: 0px;
  background-color: #264A59;
}

.btn {
  color: white;
  font-weight: bold;
}

a.btn.modal-btn,
a.btn {
  color: white;
  font-weight: bold;
}

.navbar-default .navbar-nav > li > a {
  color: inherit;
  font-weight: bold;
}

.navbar-default .navbar-nav > li > a.btn-primary,
 .navbar-default .navbar-nav > li > a.btn-danger {
  color: white;
  font-weight: bold;
}

.navbar-default .navbar-nav > li > a.btn-primary {
  background-color: #00617c;
  font-weight: bold;
}

.navbar-default .navbar-nav > li > a.btn-primary {
  background-color: #00617c;
  font-weight: bold;
}

.btn-primary {
  background-color: #00617c;
  color: white;
}

.navbar-default .navbar-nav > li > a.btn-primary:hover,
.navbar-default .navbar-nav > li > a.btn-primary:focus,
.btn-primary:hover,
.btn-primary:focus {
  background-color: #1B3457;
  color: white;
}

.navbar-default .navbar-nav > li > a.btn-success,
.btn-success {
  background-color: #038945;
}

.navbar-default .navbar-nav > li > a.btn-success:hover,
.navbar-default .navbar-nav > li > a.btn-success:focus,
.btn-success:hover,
.btn-success:focus {
  background-color: #0D5C30;
}

a.btn.btn-warning.modal-btn,
.navbar-default .navbar-nav > li > a.btn-warning,
.btn-warning {
  background-color: #EDCC56;
  color: #0e4152;
  font-weight: bold;
}

a.btn.btn-warning.modal-btn:hover,
a.btn.btn-warning.modal-btn:focus,
.navbar-default .navbar-nav > li > a.btn-warning:hover,
.navbar-default .navbar-nav > li > a.btn-warning:focus,
.btn-warning:hover,
.btn-warning:focus {
  background-color: #C2A941;
  color: #0e4152;
}

a.btn.btn-danger.modal-btn,
.navbar-default .navbar-nav > li > a.btn-danger,
.btn-danger {
  background-color: #ac2400;
  color: white;
  font-weight: bold;
}

a.btn.btn-danger:hover,
a.btn.btn-danger:focus,
.navbar-default .navbar-nav > li > a.btn-danger:hover,
.navbar-default .navbar-nav > li > a.btn-danger:focus,
.btn-danger:hover,
.btn-danger:focus {
  background-color: #831818;
  color: white;
}

button.close.modal-close {
  color: #f2f6fb;
  opacity: 1.0;
}
