/*
  *= require bootswatch
  *= require_self
  *= require chores
  *= require users
  *= require users_show
  *= require splash
  *= require jquery-ui
  *= require about
*/




.list-group-item {
  background-color: #40617a;
  color: black;
}

.img-circle.img-responsive {
  text-align: center;
}
.panel-body {
  background-color: grey;
  color: #596A7B;
}

.panel-footer {
  background-color: #2B3E50;
  color: snow;
}

.form-control {
  border-bottom: 1px solid #2B3E50;
  border-left: 1px solid #2B3E50;
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
}
label {
  color: #2B3E50
}

.modal-body {
  background-color: floralwhite;
}

.modal-footer {
  background-color: floralwhite;
}
.modal {
  color: white;
}

.btn-primary {
  background-color: #98878f;
}

.glyphicon {
  color: #efeff4;
}

.list-group-item{
  color: white;
}

.navbar-inverse {
  padding: 10px 0 10px 0;
  bottom: 0;
  background-color: #f0ad4e;
}

.text-btn {
  color: #ea8520;
}

.text-btn:hover {
  color: #2B3E50;
  text-decoration: underline;
}

a {
  color: #ea8520;
}

a:hover {
  color: #2B3E50;
}

nav.navbar.navbar-default {
  margin-bottom: 0px;
}
