.btn.dropdown-toggle {
  padding: 0px;
  background-color: transparent;
}

.btn.dropdown-toggle:focus {
  outline: 5px auto -webkit-focus-ring-color;
}

ul.dropdown-menu {
  padding: 0px;
}

.app.panel-primary {
  margin: 5px;
}

h3.chore-title {
  box-sizing: border-box;
  color: white;
  font-size: 15px;
  display: inline;
}



