body {
  background-color: #efeff4;
  padding-top: 0px;
  background: url("/images/sfApartment.jpeg") no-repeat center center fixed;
  background-size: 100%;
  height: 1150px;
  display: flex;
  margin-top: 500px;
}
