html {
  /*-webkit-backdrop-filter: blur(10px); /* Chrome, Safari, Opera */*/
  background-color: #3C4262;
  /*background: url("/images/sfApartment.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}
