// Place all the styles related to the splash controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  width: 100%;
}

.panel-body {
  background-color: floralwhite;
}

.panel-primary {
  padding: 0px;
  box-shadow: 2px 2px 10px grey;
}

#view {
  background: white;
  background-image: url("/images/sfApartment.jpeg");
  background-size: cover;
  margin: -175px 0px 0px 0px;
  height: 900px;
}


.gradient {
  height: 100%;
  width: 100%;
  // opacity: .5;
}

header {
  margin-top: 400px;
  text-align: center;
  color: snow;
  font-family: monospace;
  font-size: 75px;
  vertical-align: middle;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #2B3E50;
  opacity: 1;
}

#content {
  margin-top: 400px;
  background-color: transparent;
}

img {
  border-radius: 50%;
  border: 2px solid #2b3e50;
}

.panel-footer {
  padding: 5px;
}

hr {
  margin: 10px;
}
