
<div class="indexView">
     <div class="cardsView">
          <span class="cardsDiv">
             <div class="panel panel-default bootcards-media" class="cards">
                <div class="panel-heading">
                <h3 class="panel-title">
                  Cards by CHÕRUS
                </h3><hr>
                </div>
                <div class="panel-body">
                    <div class="img-circle" class="face front">
                      <%= image_tag("cleaningDishes.gif", :alt => "defaultIcon") %>
                    </div>
                </div>
            </div>
        </span>
        <span class="cardsDiv">
           <div class="panel panel-default bootcards-media" class="cards">
              <div class="panel-heading">
              <h3 class="panel-title">
                Cards by CHÕRUS
              </h3><hr>
              </div>
              <div class="panel-body">
                  <div class="img-circle" class="face front">
                    <%= image_tag("apartmentView.gif", :alt => "rss feed") %>
                  </div>
              </div>
          </div>
      </span>
      <span class="cardsDiv">
         <div class="panel panel-default bootcards-media" class="cards">
            <div class="panel-heading">
            <h3 class="panel-title">
              Cards by CHÕRUS
            </h3><hr>
            </div>
            <div class="panel-body">
                <div class="img-circle" class="face front">
                  <%= image_tag("couplesApartment.gif", :alt => "rss feed") %>
            </div>
            </div>
       </div>
    </span>
  </div>
</div>
